.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}
.headerOption_title{
    font-size: 12px;
    font-weight: 400;
}
.headerOption:hover{
    color: black;
    
    /* opacity: 50% */
}
.headerOption_icon{
    object-fit: contain;
    height:30px !important;
    width: 30px !important;
}
/* .headerOption_icon:hover{
    color: black;
} */
/* .headerOption_icon :active{
    
    color: #0074b1;
} */
#avatar:hover{
    opacity: 50%;
    color: black;
}

.is-active{
    color: black;
}